.css,
 .js{
    border-top: 2px solid black;
    border-left: 2px solid black;
    width: 58px;
    height: 58px;
}
.css:hover {
  background-color: black;
  color: white;
}


.container {
    display: flex;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    
    
}

